.entry-page {
	max-width: 600px;
	margin: 5em auto 2em;
	padding: 0 1em;
}

.entry-page-image {
	max-width: 100%;
	max-height: 300px;
	display: block;
}

.entry-page-actions {
	display: flex;
	gap: 0.5em;
	align-items: center;
	margin: 1em 0;
}

.entry-page-image-container {
	display: flex;
	flex-direction: horizontal;
	gap: 0.5em;
	margin: 1em 0;
}
.entry-page-image-upload {
	background-color: #D5D5D5;
	border: 1px solid black;
	border-radius: 3px;
	padding: 0.33em 0.5em;
	cursor: pointer;
	font-size: 90%;
}
.entry-page-image-upload:hover {
	background-color: #F5E9A9;
	box-shadow: 0 0 0.1em black;
}
.entry-page-image-upload.disabled {
	color: gray;
	cursor: default;
	pointer-events: none;
}

.entry-page-help {
	color: gray;
	font-size: 0.9em;
}

.entry-page-error {
	color: #A83232;
}
.entry-page-tags {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em;
	align-items: center;
	margin: 1em 0;
}
.entry-page-tag {
	display: inline-flex;
	align-items: center;
	gap: 0.25em;
}
.entry-tag-picker {
	flex-basis: 100%;
}
.entry-page-title {
	display: flex;
	width: 100%;
	align-items: baseline;
}
.entry-page-title :first-child {
	flex: 1;
}
