/* Create Variable RightPanelWidth */
:root {
	--RightPanelWidth: 0;
	--RightPanelBackground: #C8C5C8;
}
@media (min-width: 1000px) {
	:root {
		--RightPanelWidth: calc(300px + 50vw - 500px);
	}
}

.entries-panel {
	position: fixed;
	top: 4em;
	bottom: 0;
	right: 0;
	width: var(--RightPanelWidth);
	overflow: hidden;
	background-color: var(--RightPanelBackground);
	border-left: 1px solid #5C4033;
	box-sizing: border-box;
	padding: 1em;
	z-index: 50;
	box-shadow: 0 0 0.5em black;
	font-size: 90%;

	display: flex;
	flex-direction: column;
}

.entries-panel-toggle {
	position: fixed;
	top: calc(4em + 1em);
	right: var(--RightPanelWidth);
	z-index: 60;
	border: 1px solid #5C4033;
	border-right: 1px solid var(--RightPanelBackground);
	background-color: var(--RightPanelBackground);
	border-radius: 25% 0 0 25%;
	height: 3em;
	cursor: pointer;
	transform: translateX(2px);
	text-align: left;

	padding-left: .1em;
	padding-right: 1em;
	width: 1em;
}

.entries-panel-toggle-closed {
	right: 0;
}

.entries-panel .score-table-container {
	flex: 1 1 auto;
	min-height: 0;
	max-height: none;
}

.entries-panel .pagination-controls {
	flex: 0 0 auto;
}
