.score-table-container {
	overflow: auto;
	max-height: 100%;
}

.score-table {
	width: 100%;
	border-spacing: 0;
	margin: 0;
}

.score-table th {
	background-color: #A8A8A8;
	position: sticky;
	top: 0;
	border-bottom: 2px solid #5C4033;
}

.score-table th:nth-child(n+2) {
	border-left: 1px solid #666;
}
.score-table th.sortable:hover {
	text-decoration: underline;
	cursor: pointer;
}
.score-table th.sortable .sortIndicator {
	position: absolute;
	/* Aligned to the right */
	right: 0.5em;
	/* Aligned to the middle */
	top: 50%;
	transform: translateY(-50%);
	font-size: 0.75em;
	color: #555;
}

.score-table td, .score-table th {
	padding: .1em .5em;
}

.score-table td:nth-child(n+2) {
	border-left: 1px solid #888;
}

/* Align content of entryCol to vertical middle */
.score-table .entryCol {
	display: flex;
	align-items: center;
	padding: .2em .5em;
}
.score-table .scoreCol {
	text-align: right;
	font-family: monospace;
}

/* Draw every first row with slightly lighter background and every other row with slightly darker background */
.score-table > tbody > tr:nth-child(even) {
	background-color: #E8E8E8;
}
.score-table > tbody > tr:nth-child(odd) {
	background-color: #F8F8F8;
}
