.tag-page {
	max-width: 600px;
	margin: 5em auto 2em;
	padding: 0 1em;
}

.tag-page-title {
	display: flex;
	width: 100%;
	align-items: baseline;
}
.tag-page-title :first-child {
	flex: 1;
}

.tag-page-error {
	color: #A83232;
}

.tag-page-entries-list {
	max-height: 20em; /* ~10 lines */
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	gap: 0.25em;
	align-items: flex-start;
}
