.tag-page {
	max-width: 600px;
	margin: 5em auto 2em;
	padding: 0 1em;
}

.tag-page-title {
	display: flex;
	width: 100%;
	align-items: baseline;
}
.tag-page-title :first-child {
	flex: 1;
}

.tag-page-error {
	color: #A83232;
}
