.dual-quiz {
	background-color: #FFFFFF;
}
.dual-quiz table {
	width: 100%;
	border-collapse: collapse;
}
.dual-quiz table td {
	text-align: center;
}
.dual-quiz img {
	width: 100px;
	height: 100px;
}
.dual-quiz-left, .dual-quiz-right {
	width: 50%;
}
.dual-quiz-right {
	border-left: 1px solid #5C4033;
}
.dual-quiz-bt3 {
	width: calc(100% / 3 - 2em);
	border: 1px solid #5C4033;
	margin: 1em;
}
.dual-quiz-skip {
	width: calc(100% / 6 - 1em);
	border: 1px solid #5C4033;
	margin: 0 1em 1em;
	font-size: 0.85em;
	padding: 0.2em;
}
