.dual-quiz table {
	width: 100%;
}
.dual-quiz table td {
	text-align: center;
	border: 1px solid #5C4033;
}
.dual-quiz img {
	width: 100px;
	height: 100px;
	border: 1px solid #5C4033;
}
.dual-quiz-left, .dual-quiz-right {
	width: 50%;
}
.dual-quiz-bt3 {
	width: 30%;
	border: 1px solid #5C4033;
	background-color: #FFFFFF;
}
