.new-entry-form {
	background-color: #FFFFFF;
	padding: 1em;
}

.new-entry-form > .content {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.new-entry-form > .content > * {
	flex: 0 1 auto;
}
.new-entry-form > .content > :first-child {
	flex: 1;
	min-width: 10em;
	max-width: 50em;
}

/* Set label position to be above their referenced input (that is inside them), with 80% font size, full width */
.labelled {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding-right: 1em;
}
.labelled label, .labelled span {
	font-size: 80%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.labelled input {
	width: 100%;
}
