body {
	margin: 0;
	background-color: #F8F9FA;
	font-family: system-ui, sans-serif;
	color: #222222;
}

button, select {
	background-color: #D5D5D5;
	border: 1px solid black;
	border-radius: 3px;
	padding: 0.33em 0.5em;
	font-size: 90%;
}
button, select {
	cursor: pointer;
	font-family: system-ui, sans-serif;
}
input {
	background-color: #FFF;
	border: 1px solid gray;
	border-radius: 3px;
	padding: 0.6667em 0.6667em;
}
/* remove right padding for input type number */
input[type=number] {
	padding-right: 0;
}

/* Hover effects on inputs */
button:not(:disabled):hover {
	background-color: #F5E9A9;
	box-shadow: 0 0 0.1em black;
}
select:not(:disabled):hover {
	background-color: #E5E5A9;
	box-shadow: 0 0 0.1em black;
}
input:not(:disabled):hover {
	box-shadow: 0 0 0.1em black;
}
button:disabled, select:disabled, input:disabled {
	color: gray;
}

/* Remove margin top before h1-h6 if they are the first element of their parent */
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
	margin-top: 0;
}

.entryScore {
	border-radius: 3px;
	background-color: #FED186; /* Light yellow */
	padding: 0 0.5em;
	flex: 0;
}
.dualOperator {
	border-radius: 3px;
	background-color: #FFA8A8; /* Light red */
	padding: 0 0.5em;
	flex: 0;
}
.voteDetail {
	display: flex;
	/* Children horizontally aligned, verticaly centered */
	align-items: center;
	gap: 0.5em;
}
