#screen {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}
.listE {
	border: 1px solid black;
}
.listE .sc, .listE  .rep, .listE .p, .listE .e, .listE .m {
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	font-size: .6em;
	flex: 1;
}
.listE .sc {
	display: flex;
	flex: 3;
}
.listE .ctr {
	flex: auto;
	font-weight: bold;
}
.listE .rep {
	background-color: #FFF;
	flex: unset;
}
.listE .name {
	flex: auto;
}
.listE .imgBtn {
	flex: initial;
}
.toHide {
	display: none !important;
}
#theQ {
	width: 100%;
	text-align: center;
}

.imgBtn {
	background: url("pen.svg");
	width: 1.2em;
	height: 1.2em;
	border: 0;
	cursor: hand;
}
.coll {
	width: 100%;
	display: flex;
}
#listTags .listE .imgBtn {
	display: none;
}
button.cross {
	background: url("cross.svg") 1.2em;
	width: 1.2em;
	height: 1.2em;
	border: 0;
	cursor: hand;
}

#updateEntry-imgs {
	display: flex;
	margin: 0;
	padding: 0;
}
#updateEntry-imgs > li {
	width: 50px;
	height: 50px;
	position: relative;
	list-style: none;
}
#updateEntry-imgs > li > img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#updateEntry-imgs > li > button.cross {
	position: absolute;
	right: 0;
	top: 0;
}
#updateEntry-tags {
	padding-left: 1.5em;
	margin: 0;
}
#updateEntry-tags > li {
	position: relative;
	height: 1.2em;
}
#updateEntry-tags > li > button.cross {
	position: absolute;
	right: 0;
}
body .ui-dialog {
	position: absolute;
}
body .ui-widget {
	font-size: unset;
}

.ui-autocomplete {
	z-index: 1000;
}

#a1, #a2 {
	width: 50%;
}
#a1 > img, #a2 > img {
	max-width: 95%;
	height: 50vh;
	object-fit: contain;
}
#a1 > button, #a2 > button, #bSame {
	width: 20vw;
	height: 2.5em;
	font-size: 2em;
}
.title {
	font-size: 2em;
}

#pictPreload {
	left: -2px;
	top: -2px;
	width: 1px;
	height: 1px;
}
#pictPreload > img {
	width: 1px;
	height: 1px;
	position: absolute;
}

.ui-dialog {
	display: flex;
	flex-direction: column;
	max-width: 90vw !important;
	max-height: 90vh !important;
	min-width: 5vw;
	min-height: 5vh;
}
.ui-slider-handle {
	opacity: 66%;
}
